
movement/.dart_tool/
movement/.idea/
movement/android/.idea/modules/717956324/android.background_locator_2.unitTest.iml
movement/android/.idea/modules/
movement/build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sl/values-sl.xml
movement/build/app/
movement/build/background_locator_2/intermediates/merged_res/release/drawable-hdpi-v4/abc_list_divider_mtrl_alpha.9.png
movement/build/
movement/android/app/release/
movement/android/app/debug/
movement/android/.gradle/
